.container {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.row1 {
  width: 100%;
  height: 15%;
  display: flex;
  margin: 1rem auto 0;
  flex-wrap: wrap;
}

.row2 {
  width: 100%;
  height: 74%;
  display: flex;
  margin: 0 3rem;
}

aside {
  margin: 0;
  margin-top: 0;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

aside div {
  width: 80%;
  height: 12%;
  margin: auto;
  display: flex;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 1rem;
}

.col-1 {
  width: 8%;
}
.col-2 {
  width: 16%;
}
.col-3 {
  width: 24%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 40%;
}
.col-6 {
  width: 48%;
}
.col-7 {
  width: 56%;
}
.col-8 {
  width: 64%;
}
.col-9 {
  width: 72%;
}
.col-10 {
  width: 80%;
}
.col-11 {
  width: 88%;
}
.col-12 {
  width: 96%;
}

@media screen and (max-width: 710px) {
  header {
    margin: .5rem auto 0;
  }

  header h1 {
    font-size: 1.5rem;
  }
  .row2 {
    display: unset;
    margin: 0;
    flex-wrap: nowrap;
  }
  aside {
    height: 10%;
    margin: auto;
    padding: 0 .5rem;
    display: flex;
    flex-wrap: nowrap;
  }

  aside div {
    height: 70%;
    width: 100%;
    border-radius: 10px;
    margin: .2rem;
    padding: .2rem 1rem;
  }
  main {
    height: 80%;
    margin: auto;
    padding-top: 1rem;
  }

  main div {
    height: 25%;
  }
}
