body {
  height: 100vh;
  background-image: url(../images/white-angles-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  margin: auto;
}

header h1 {
  margin: 0;
  color: #FAFAFA;
  font-family: "Lexend Giga", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

header p {
  color: #FAFAFA;
  font-family: "Biryani", sans-serif;
  font-size: 1rem;
  margin-top: 2%;
  text-align: center;
  text-transform: uppercase;
}

aside div {
  background-color: #FAFAFA;
  border-radius: 15px;
}

aside p {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin: auto;
  font-family: "Assistant", sans-serif;
}

.card {
  position: relative;
  margin: .2rem auto;
}

main div {
  height: 30%;
  background-image: url(../images/robot-card-back.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.dolores {
  background-image: url(../images/westworld-dolores.jpg)
}
.dot-matrix {
  background-image: url(../images/spaceballs-dot-matrix.jpg);
}
.eve {
  background-image: url(../images/wall-e-eve.jpg);
}
.ava {
  background-image: url(../images/ex-machina-ava.jpg);
}
.caprica-six {
  background-image: url(../images/battlestar-galactica-six.png);
}
.galatea {
  background-image: url(../images/galatea-bicentennial-man.jpg);
}
.fembot {
  background-image: url(../images/austin-powers-fembot-2.jpg);
}
.maeve {
  background-image: url(../images/westworld-maeve.jpg);
}
.rachael {
  background-image: url(../images/blade-runner-rachael.jpg);
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0, 0.32);
}

.modal-content {
  background-color: #FAFAFA;
  width: 40%;
  height: 40%;
  display: flex;
  font-family: "Biryani", sans-serif;
}

.modal-image {
  height: 98%;
  width: 50%;
  margin: .2rem;
  background-size: cover;
  background-position: center;
  background-image: url(../images/ex-machina-ava.jpg);
}

.modal-text {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-transform: uppercase;
  font-size: 20px;
}

.modal-text p {
  margin: 0;
  display: block;
  text-align: center;
  width: 100%
}

button {
  margin: 2rem auto;
  width: 70%;
  padding: 10px;
  color: white;
  background-color:rgba(207, 4, 4, 0.952);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
}

.hidden {
  display: none;
}
